main {
        font-family: jura;
        color: rgb(86, 86, 120);
        margin: 20px;
}

.div1 {
        /*height: 250px;*/
        background-color: rgb(33, 32, 32);
        color:rgb(255, 255, 255);
        font-size: 10px;
        margin: 50px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border: 1px solid rgb(255, 255, 255);
        padding: 5px;

}

div {
    /*height: 250px;*/
    background-color: rgba(32, 86, 130, 0.486);
    color:rgb(255, 255, 255);
    font-size: 15px;
    margin: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    padding: 15px;

}

.row {
    background-color: aqua;
    border: 1px solid rgb(33, 32, 32);
    padding: 5px;
    margin: 10px;
}

.col {
    background-color: rgba(34, 39, 37, 0.322);
    border: 1px solid rgb(255, 255, 255);


}

.columna {
    color:rgb(25, 12, 202);
    font-style: 25px;
    background-color: #f2f0c377;
    border: 2px solid white;
}

.row {
    background-color: rgba(0, 234, 255, 0.427);
    border: 3px solid rgb(255, 255, 255);
    padding: 15px;
    margin: 5px;
}

i {
    font-size: 50px;
    color: rgb(0, 255, 0)

}